<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Doctor Appointments </title>
</head>

<body>
    &nbsp;

    <center>
    <div class="add-appointment">
        <h2>Add Doctor Appointment</h2>
        <form id="form1" method="post" action="/addappointment">
            <input name="apptid" type="text" placeholder="Appointment ID" required> <br> <br>
            <input name="pxid" type="text" placeholder="Patient ID" required> <br> <br>
            <input name="doctorid" type="text" placeholder="Doctor ID" required><br> <br>
            <input name="queuedate" type="text" placeholder="Queue Date" required><br> <br>
            <input name="hospitalname" type="text" placeholder="Hospital Name" required><br> <br>
            <input name="city" type="text" placeholder="City" required><br> <br>
            <select name="regions" id="regions" title="Regions" required>
                <option value="">Select Region</option>
                <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                <option value="Ilocos Region (I)">Ilocos Region (I)</option>
                <option value="Caraga (XIII)">Caraga (XIII)</option>
                <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                <option value="CALABARZON (IV-A)">CALABARZON (IV-A)</option>
                <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                <option value="Central Luzon (III)">Central Luzon (III)</option>
                <option value="MIMAROPA (IV-B)">MIMAROPA (IV-B)</option>
                <option value="Bicol Region (V)">Bicol Region (V)</option>
                <option value="Davao Region (XI)">Davao Region (XI)</option>
                <option value="SOCCSKSARGEN (Cotabato Region) (XII)">SOCCSKSARGEN (Cotabato Region) (XII)</option>
                <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)">Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</option>
            </select><br> <br>
            <select name="type" title="Type" required>
                <option value="">Select Type of Consulation</option>
                <option value="Consultation">Consultation</option>
                <option value="Inpatient">Inpatient</option>
            </select>&nbsp;<br><br>
            <select name="virtual" title="Virtual" required>
                <option value="">Virtual Consultation?</option>
                <option value="True">True</option>
                <option value="False">False</option>
            </select><br><br>
            <input type="submit">
    </form>
    </div>
    
<br> <br>
<div class="list-appointments">
    <h2>Check Appointments</h2>

    <form action="/filter" method="get">
            <select name="island" title="Island" required>
                <option value="">Select Island</option>
                <option value="Luzon">Luzon</option>
                <option value="Visayas">Visayas</option>
                <option value="Mindanao">Mindanao</option>
            </select><br><br>
        <input type="submit">
    </form>
    <table border="1">
        <tr>
            <th>index</th>
            <th>apptid</th>
            <th>pxid</th>
            <th>doctorid</th>
            <th>queuedate</th>
            <th>hospitalname</th>
            <th>city</th>
            <th>regionname</th>
            <th>type</th>
            <th>virtual</th>
            <th>status</th>
        </tr>

        {{#each appointments}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.apptid}}</td>
            <td>{{this.pxid}}</td>
            <td>{{this.doctorid}}</td>
            <td>{{this.queuedate}}</td>
            <td>{{this.hospitalname}}</td>
            <td>{{this.city}}</td>
            <td>{{this.regionname}}</td>
            <td>{{this.type}}</td>
            <td>{{this.virtual}}</td>
            <td>{{this.status}}</td>
            <td>
                <a href="/editAppointment?apptid={{this.apptid}}"><button>Update</button></a>
                <a href="/deleteAppointment?apptid={{this.apptid}}"><button>Delete</button></a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
</center>
</body>
</html>