<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Doctor Appointments </title>
</head>

<body>
    &nbsp;

    <center>
    <div class="add-appointment">
        <h2>Add Doctor Appointment</h2>
        <form method="post" action="/add">
            <input name="pxid" type="text" placeholder="Patient ID" required> <br> <br>
            <input name="clinicid" type="text" placeholder="Clinic ID" required><br> <br>
            <input name="doctorid" type="text" placeholder="Doctor ID" required><br> <br>
            <select name="type" title="Type" required>
                <option value="Consultation">Consultation</option>
                <option value="Inpatient">Inpatient</option>
            </select>&nbsp;
            <select name="virtual" title="Virtual" required>
                <option value="True">True</option>
                <option value="False">False</option>
            </select><br><br>
            <input type="submit">
    </form>
    </div>
    
<br> <br>
<div class="list-appointments">
    <h2>Check Appointments</h2>

    <form action="/filter" method="get">
        <input type="number" id="year-filter-from" name="yearFrom" placeholder="From">
        <input type="number" id="year-filter-to" name="yearTo" placeholder="To" >
        <input type="submit">
    </form>
    <table>
        <tr>
            <th>index</th>
            <th>pxid</th>
            <th>clinicid</th>
            <th>doctorid</th>
            <th>apptid</th>
            <th>status</th>
            <th>TimeQueued</th>
            <th>QueueDate</th>
            <th>StartDate</th>
            <th>StartTime</th>
            <th>EndDate</th>
            <th>EndTime</th>
            <th>type</th>
            <th>Virtual</th>
        </tr>

        {{#each movies}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.pxid}}</td>
            <td>{{this.clinicid}}</td>
            <td>{{this.doctorid}}</td>
            <td>{{this.status}}</td>
            <td>{{this.TimeQueued}}</td>
            <td>{{this.QueueDate}}</td>
            <td>{{this.StartDate}}</td>
            <td>{{this.StartTime}}</td>
            <td>{{this.EndDate}}</td>
            <td>{{this.EndTime}}</td>
            <td>{{this.type}}</td>
            <td>{{this.Virtual}}</td>
            <td>
                <a href="/editAppointment?apptid={{this.apptid}}"><button>Edit</button></a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
</center>
</body>

</html>